<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <title>防骚扰 - 模拟测试</title>
</head>
<body>
<% include top/top.ejs %>
<div class="layui-container">
    <% include details/baseModelDetails.ejs %>
    <% include bwList/black_white_list.ejs %>
</div>
</body>
</html>