<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 引入 layui.css -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  </body>
</html>
