<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <title>防骚扰 - 模拟测试</title>
</head>
<body>
<% include top/top.ejs %>
<div class="layui-container" style="text-align: center">
    <div class="layui-col-md3">
        <div class="layui-row" style="padding: 5px">
            <button type="button" style="width: 100px" class="layui-btn layui-btn-normal" id="token_test_btn">token测试</button>
        </div>

        <div class="layui-row" style="padding: 5px">
            <button type="button" style="width: 100px" class="layui-btn layui-btn-normal" id="config_btn">模型设置</button>
        </div>
        <div class="layui-row" style="padding: 5px">
            <h3>主叫号码 => 被叫号码</h3>
        </div>
        <div class="layui-row" style="padding: 5px">
            <button type="button" style="width: 100px" class="layui-btn" id="sim_call_btn">模拟拨打</button>
        </div>
        <div class="layui-row" style="padding: 5px">
            <button type="button" style="width: 100px" class="layui-btn layui-btn-danger" id="reset_btn">重 置</button>
        </div>
        <p id="token_result"></p>
        <p id="get_result"></p>
    </div>
    <div class="layui-col-md9">
        <% include details/baseModelDetails.ejs %>
    </div>
</div>
</body>
<script>
    layui.use('jquery', function () {
        let $ = layui.jquery;
        $('#head_name').html(localStorage.getItem('nickname'));
        $('#token_test_btn').on('click', function () {
            $.ajax({
                type: 'get',
                url: 'http://<%= server_host %>/test/tokenTest',
                headers: {token: localStorage.getItem('token')},
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg("TOKEN 测试通过")
                    } else {
                        console.log(res);
                    }
                },
            });
        });
        $('#config_btn').on('click', function () {
            window.location.href = '/base_config';
        });
        $('#sim_call_btn').on('click', function () {
            $.ajax({
                type: 'get',
                url: 'http://<%= server_host %>/simulator/phoneCall',
                headers: {token: localStorage.getItem('token')},
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg("模拟拨打 主叫 => 被叫")
                    } else {
                        console.log(res);
                    }
                },
            });
        });
        $('#reset_btn').on('click', function () {
            $.ajax({
                type: 'get',
                url: 'http://<%= server_host %>/simulator/reset',
                headers: {token: localStorage.getItem('token')},
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg("重置数据")
                    } else {
                        console.log(res);
                    }
                },
            });
        });
    });
</script>
</html>